body::before {
  background-color: #eee;
  content: '';
  will-change: transform;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
}
@media (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
}
@media (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
}
@media (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
}
body .vitrina-blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* ++ Angular Hero Animations ++ */
.hero-transition.hero-leave {
    visibility: hidden;
}

.hero-transition.ng-leave {
    visibility: visible;
}

.hero-animating {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
    position: absolute;
    z-index: 10000;
}
/* -- Angular Hero Animations -- */

.vitrina-blog .vitrina-blog__posts {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.vitrina-blog.mdl-layout .mdl-layout__content {
  padding-top: 230px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.vitrina-blog .mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 360px;
}
.vitrina-blog .mdl-card__title {
  padding: 16px;
  flex-grow: 1;
}
.vitrina-blog .mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
}
.vitrina-blog .mdl-card__media a,
.vitrina-blog .mdl-card__title a {
  color: inherit;
}
.vitrina-blog .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: flex;
  align-items: center;
}
.vitrina-blog .mdl-card__supporting-text strong {
  font-weight: 400;
}
.vitrina-blog .mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px;
}
.vitrina-blog .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.vitrina-blog:not(.vitrina-blog--blogpost) .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.vitrina-blog .mdl-card__actions:first-child {
  margin-left: 0;
}
.vitrina-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}
.vitrina-blog .meta > .meta__favorites{
  flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}
.vitrina-blog .meta > .meta__favorites .material-icons {
  font-size: 2em;
  cursor: pointer;
  margin-left: 12px;
}
.vitrina-blog .mdl-card .meta.meta--fill {
  justify-content: space-between;
}
.vitrina-blog .meta > *:first-child {
  margin-right: 16px;
}
.vitrina-blog .meta > * {
  display: flex;
  flex-direction: column;
}
.vitrina-blog.is-small-screen .vitrina-blog__posts > .mdl-card.coffee-pic {
  order: 0;
}
.vitrina-blog.is-small-screen .vitrina-blog__posts > .mdl-card.something-else {
  order: -1;
}
.vitrina-blog .coffee-pic .mdl-card__media {
  /*background-image: url('../images/coffee.jpg');*/
  background-image: url('http://i.imgur.com/tBNqfCC.jpg');
}
.vitrina-blog .something-else .mdl-card__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vitrina-blog .something-else > button {
  position: absolute;
  top: 0;
  right: 28px;
  transform: translate(0px, -28px);
}
.vitrina-blog .something-else .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.vitrina-blog .something-else .mdl-card__media img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}
.vitrina-blog .something-else .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.vitrina-blog .on-the-road-again .mdl-card__media {
  background-image: url('../images/road.jpg');
}
.vitrina-blog .shopping .mdl-card__media {
  background-image: url('../images/shopping.jpg');
}
.vitrina-blog .vitrina-blog__posts > .vitrina-nav {
  margin: 12px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 500;
}
.vitrina-blog .vitrina-blog__posts > .vitrina-nav > .vitrina-nav__button {
  color: white;
  text-decoration: none;
}
.vitrina-blog .vitrina-blog__posts > .vitrina-nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: white;
}
.vitrina-blog .vitrina-blog__posts > .vitrina-nav > .vitrina-nav__button:first-child .mdl-button {
  margin-right: 16px;
}
.vitrina-blog .vitrina-blog__posts > .vitrina-nav > .vitrina-nav__button:last-child .mdl-button {
  margin-left: 16px;
}
.vitrina-blog .mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.vitrina-blog .mdl-card h3 {
  margin: 0;
}
.vitrina-blog .mdl-card h3 a {
  text-decoration: none;
}
.vitrina-blog .mdl-card h3.quote:before, .vitrina-blog .mdl-card h3.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}
.vitrina-blog .mdl-card h3.quote:before {
  content: '“';
}
.vitrina-blog .mdl-card h3.quote:after {
  content: '”';
}
.vitrina-blog--blogpost .custom-header {
  background-color: transparent;
}
.vitrina-blog--blogpost .vitrina-blog__posts > .mdl-card .mdl-card__media {
  background-image: url('../images/road_big.jpg');
  height: 280px;
}
.vitrina-blog--blogpost .comments {
  background-color: #EEE;
}
.vitrina-blog--blogpost .meta > * {
  align-items: center;
}
.vitrina-blog--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: flex;
  flex-direction: column;
}
.vitrina-blog--blogpost .meta + .mdl-card__supporting-text p {
  max-width: 512px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
}

.vitrina-blog--blogpost .comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 32px;
  box-sizing: border-box;
}
.vitrina-blog--blogpost .comments > form {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.vitrina-blog--blogpost .comments > form .mdl-textfield {
  flex-grow: 1;
  margin-right: 16px;
  color: rgb(97, 97, 97);
}
/* Workaround for Firefox.
 * User agent stylesheet kept overwriting the font in FF only.
 */
.vitrina-blog--blogpost .comments > form .mdl-textfield .mdl-textfield__input {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.vitrina-blog--blogpost .comments > form .mdl-textfield input,
.vitrina-blog--blogpost .comments > form .mdl-textfield textarea {
  resize: none;
}
.vitrina-blog--blogpost .comments > form button {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
}
.vitrina-blog--blogpost .comments .comment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.vitrina-blog--blogpost .comments .comment > .comment__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}
.vitrina-blog--blogpost .comments .comment > .comment__header > .comment__avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 16px;
}
.vitrina-blog--blogpost .comments .comment > .comment__header > .comment__author {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.vitrina-blog--blogpost .comments .comment > .comment__text {
  line-height: 1.5em;
}
.vitrina-blog--blogpost .comments .comment > .comment__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8em;
  margin-top: 16px;
}
.vitrina-blog--blogpost .comments .comment > .comment__actions button {
  margin-right: 16px;
  color: rgba(0, 0, 0, 0.24);
}
.vitrina-blog--blogpost .comments .comment > .comment__answers {
  padding-top: 32px;
  padding-left: 48px;
}

.vitrina-blog--blogpost .vitrina-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}
.vitrina-blog .section-spacer {
  flex-grow: 1;
}
.vitrina-blog .something-else {
  overflow: visible;
  z-index: 10;
}
.vitrina-blog .amazing .mdl-card__title {
  background-color: #263238;
}
.vitrina-blog .minilogo {
  width: 44px;
  height: 44px;
  background-image: url('../images/avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 22px;
  background-color: #F5F5F5;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: flex !important;
}

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px;
}
.social-btn__twitter {
  background-image: url('https://www.gstatic.com/../images/icons/material/system/2x/post_twitter_black_24dp.png');
}
.social-btn__blogger {
  background-image: url('https://www.gstatic.com/../images/icons/material/system/2x/post_facebook_black_24dp.png');
}
.social-btn__gplus {
  background-image: url('https://www.gstatic.com/../images/icons/material/system/2x/post_gplus_black_24dp.png');
}
.social-btn__share {
  color: rgba(0, 0, 0, 0.54);
  background: transparent;
}

.vitrina-blog .mdl-mini-footer {
  margin-top: 80px;
  height: 120px;
  padding: 40px;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.vitrina-blog .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.vitrina-drawer {
  border: none;
  overflow: hidden;
}
/* iOS Safari specific workaround */
.vitrina-drawer .mdl-menu__container {
  z-index: -1;
}
.vitrina-drawer .vitrina-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.vitrina-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.vitrina-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.demo-badge__badge-on-icon-text .mdl-badge {
  color: rgba(0, 0, 0, 0.24);
}
.demo-badge__badge-on-icon-text .mdl-badge.material-icons {
  font-size: 32px;
}
.demo-badge__badge-on-icon-text .mdl-badge.material-icons:after {
  right: -10px;
}

.photo-options {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: transparent;
}

.photo-options thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

.photo-options tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

.photo-options > tr {
    vertical-align: middle;
}

.photo-options td, .photo-options th {
    display: table-cell;
    vertical-align: inherit
}

.photo-options th {
    font-weight: bold
}

.photo-options td {
  display: table-cell;
  vertical-align: inherit;
  text-align: center;
  padding: 0 15px;
}

.photo-options .likes
{

}

.photo-options th.likeIt a, .photo-options th.wishIt a, .photo-options th.talkIt a, .photo-options th.shareIt a {
  transition:color 0.7s ease;/*i just moved this from anchor*/
  color: #ccc;
  box-shadow: 2px;
}

.photo-options th.likeIt:hover a {
  color: crimson;
}

.photo-options th.wishIt:hover a {
  color: deepskyblue;
}

.photo-options th.talkIt:hover a {
  color: darkorange;
}

.photo-options th.shareIt:hover a {
  color: teal;
}

.photo-options tr > .likeIt {
  color: crimson;
  text-shadow: 1px 1px #aaa;
}

.photo-options tr > .wishIt{
  color: deepskyblue;
  text-shadow: 1px 1px #aaa;
}

.photo-options tr > .talkIt {
  color: darkorange;
  text-shadow: 1px 1px #aaa;
}

.photo-options tr > .shareIt {
  color: teal;
  text-shadow: 1px 1px #aaa;
}

/* HEX tags */

.hexTag
{
  background-color: #000;
  color: #fff;
  padding: 3px 8px;
  margin-right: 8px;
}

#base {
  width: 100px;
  height: 55px;
  background: red;
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-top: 55px;
}

#base:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: -35px;
  border-bottom: 35px solid red;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon-wrapper {
  text-align: center;
  margin: 20px;
  position: relative;
  display: inline-block;
}
 
.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
}

.hexagon:before {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(60deg);
}
 
.hexagon:after {
  position: absolute;
  top: 0;
  right: calc((100% / 2) - ((100% * 0.57735) / 2));
  background-color: inherit;
  height: inherit;
  width: inherit;
  content: '';
  transform: rotateZ(-60deg);
}