<div class="vitrina-container__posts mdl-grid" ng-controller="FeedController">

  <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone">2 (4 phone)</div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">

    <div class="mdl-card mdl-shadow--4dp" ng-repeat="card in cards" ng-init="phTags=parJson(card.tags)">
      
      <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url('{{card.image}}');">
        <h3><a href="#/look/view/{{card.id}}">{{card.caption}}</a></h3>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        <span class="hexTag" ng-repeat="tag in phTags">
          {{tag}}
        </span>
      </div>

      <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="minilogo"></div>
        <div>
          <strong>The Newist</strong>
          <span>2 days ago</span>
        </div>
        <div class="mdl-layout-spacer"></div>
        
        <table class="photo-options">
          <thead>
            <tr>
              <th class="likeIt"><a href=""><span class="material-icons">favorite</span></a></th>
              <th class="wishIt"><a href=""><span class="material-icons">view_list</span></a></th>
              <th class="talkIt"><a href=""><span class="material-icons">comment</span></a></th>
              <th class="shareIt"><a href=""><span class="material-icons">share</span></a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="likeIt">{{card.likes}}</td>
              <td class="wishIt">2</td>
              <td class="talkIt">0</td>
              <td class="shareIt"></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>

  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">4 (6 tablet)</div>
<!--
  <nav class="vitrina-nav mdl-cell mdl-cell--8-col">
    <div class="section-spacer"></div>
    <a href="entry.html" class="vitrina-nav__button" title="show more">
      More
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
        <i class="material-icons" role="presentation">arrow_forward</i>
      </button>
    </a>
  </nav>
  <img src="http://i.imgur.com/tBNqfCC.jpg" alt="Washed Out" style="max-width:100%; max-height:100%;">-->
</div>