<div class="mdl-grid" style="max-width: 1200px;">
  <div class="mdl-card amazing mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
      <h2 class="mdl-card__title-text">Input Text</h2>
    </div>
    
    <div class="mdl-card__supporting-text">

      <div class="mdl-grid">
        <div class="mdl-cell" ></div>

        <div class="mdl-cell">
          <h5>Posted by <a href="#profile/"></a></h5>
          <h6 class="text-muted"><i class="material-icons">access_time</i> at 18h30, yesterday</h6>

          
        </div>
      </div>

    </div>

    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
      <div class="minilogo"></div>
      <div>
        <h5><i class="ion-heart text-danger"></i>  likes</h5>
        <span>2 days ago</span>
      </div>
    </div>
    
    <div class="mdl-card__actions mdl-card--border">
      <h5 class="text-center"><i class="ion-chatbox-working text-primary"></i> Comments</h5>

      <ul class="media-list">
        
      </ul>

      <hr class="soften">

      <div class="btn-group">
        <button id="share-menu" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="publish()">
          <span>Publish</span>
        </button>

        <button id="promote-menu" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="promote()">
          <span>Promote</span>
        </button>
        <ul class="mdl-menu mdl-menu--top-left mdl-js-menu mdl-js-ripple-effect" for="promote-menu">
          <li class="mdl-menu__item">10 VITs - 2nd layer</li>
          <li class="mdl-menu__item">50 Vits - 3rd layer</li>
        </ul>

      </div>
    </div>
  </div>
</div>
